:root {
  --blue: #574ae8;
  --grey-light: #f3f5f7;
  --grey-medium: #e5e5e5;
  --white: #ffffff;
  --white-light: rgba(255, 255, 255, 0.3);

  --title-dark: #313131;
  --text-light: #b6b6b6;
  --gradient-color: #574ae8 0%, #3ea1db 100%;
  --shadown-dark: rgba(49, 49, 49, 0.4);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* 1rem = 10 px */
  font-size: 62.5%;
}

body,
input {
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  color: var(--grey);
  background-color: var(--grey-medium);
}

h1,
h2 {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  color: var(--white);
}

.container {
  margin: 0 auto;
  width: 90%;
  max-width: 90rem;
}
